body { 
background-color: #f0f8ff;
 }
h1 {color:MidnightBlue; font-size: 36px}
h2 {color:DarkSlateBlue; font-size: 32px}
p {font-size: 24px;color:Black;
}
body { background-color:AliceBlue; }
h1 {color:#000029; font-size: 28px}
p {color:Black; font-size: 20px}
body { background-color:AliceBlue; }
h1 {color:#000029; font-size: 28px}
p {color:Black; font-size: 20px}
p2 {color:Black; font-size: 18px}
p3 {color:Black; font-size: 20px}
ul {font-size: 18px;}
